params {
    help = null
    outdir = 'outputs'
    indir = 'inputs'
    scripts = 'bin'
    tracedir = "${params.outdir}/pipeline_info"
    batch_file = "${params.indir}/batch.tsv"


    // Sample Specific Input Files
    consensus_file = "${params.indir}/consensus.fasta"
    bam_file = "${params.indir}/sample.bam"
    ivar_file = "${params.indir}/ivar.tsv"

    // Regularly Updated Input Files 
    gisaid_msa_file = "${params.indir}/gisaid_msa.fasta"
    gisaid_metadata_file = "${params.indir}/gisaid_metadata.tsv"
    variants_file = "${params.indir}/cov_lineage_variants.tsv"
    
    // Constant Input Files
    reference_file = "${params.indir}/gisaid.msa"
    

}

manifest {
    homePage = 'https://github.com/justinschonfeldc/nfwwreporting.git'
    description = 'Pipeline that automates COVID-19 wastewater report generation'
    mainScript = 'main.nf'
    version = '1.0.0'
    nextflowVersion = '>=20.07.1'
}


// Create profiles
profiles {
  conda {
    singularity.enabled = true
    singularity.autoMounts = true
    process{
	withName: '!convert_report_to_pdf'{
	 conda = 'samtools python=3.6 click pandas biopython matplotlib pysam ete3 bioconda::muscle bioconda::iqtree pysam openpyxl kbessonov::vcfparser' 
        //conda = "$baseDir/environment.yml"
        }
        withName: 'convert_report_to_pdf'{
	 container = "file://data/singularity-latex-nml.sif"
        }

    } 
  }
  standard{
    process.memory = 4.GB
    process.cpus = 4
  }

}



  
