params {
    outdir = 'results'
    indir = 'inputs'
    scripts = 'scripts'
    tracedir = "${params.outdir}/pipeline_info"

    // Sample Specific Input Files
    consensus_file = "${params.indir}/consensus.fasta"
    bam_file = "${params.indir}/sample.bam"

    // Regularly Updated Input Files 
    gisaid_msa_file = "${params.indir}/gisaid_msa.fasta"
    gisaid_metadata_file = "${params.indir}/gisaid_metadata.tsv"
    variants_file = "${params.indir}/variants.tsv"
    
    // Constant Input Files
    reference_file = "${params.indir}/gisaid.msa"
    

}